[init]
	defaultBranch = main

[user]
    email = 30512204+miccou@users.noreply.github.com
    name = miccou

[push]
	autoSetupRemote = true

[color]
    ui = auto

[color "status"]
    changed = yellow

[core]
    quotepath = false
    pager = "less -FRX"

[diff]
    renames = copies

[merge]
    conflictstyle = diff3

[pager]
    log = "less -S"
    blame = "less -S"

[rebase]
    autosquash = true
